# release-drafter config
# Docs: https://github.com/release-drafter/release-drafter
#
# How it works:
#   1. Tracks all PRs from the last release tag to now
#   2. PRs already in a release won't be duplicated
#   3. Multiple PRs accumulate until you manually publish

name-template: 'v$RESOLVED_VERSION'
tag-template: 'v$RESOLVED_VERSION'

# Only track PRs to main branch
filter-by-commitish: true

# Don't include pre-releases
include-pre-releases: false

# Release Notes template
# Each PR's CodeRabbit summary will be extracted by update-changelog.js
template: |
  ## What's Changed

  $CHANGES

# No categories - CodeRabbit summary already has categories
# The update-changelog.js script will extract and merge categories from each PR

# Exclude PRs with these labels
exclude-labels:
  - 'changelog:skip'

# Version resolver
version-resolver:
  major:
    labels:
      - 'version:major'
  minor:
    labels:
      - 'version:minor'
  patch:
    labels:
      - 'version:patch'
  default: patch

# Change template - output PR title and body
# The body contains CodeRabbit summary which will be parsed later
change-template: |
  ---
  ### PR: $TITLE (#$NUMBER)
  
  $BODY
  
  ---

change-title-escapes: '\<*_&'

no-changes-template: '- No changes'

sort-direction: ascending

# Autolabeler based on PR title (optional, for version bumping)
autolabeler:
  - label: 'version:patch'
    title:
      - '/fix/i'
      - '/bug/i'
  - label: 'version:minor'
    title:
      - '/feat/i'
      - '/feature/i'
      - '/add/i'
