# Autolabel - Automatically add changelog labels to PRs based on title
#
# How it works:
#   - When PR is created/updated, analyze the title
#   - Automatically add labels like changelog:added, changelog:fixed, etc.
#
# See: .github/RELEASE_GUIDE.md

name: Autolabel

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  autolabel:
    runs-on: ubuntu-latest
    steps:
      - name: Run Autolabeler
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter-config.yml
          disable-releaser: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

